.profile {
  display: flex;
  justify-content: flex-start;
/*   gap: 19.5px; */
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .profile {
/*     gap: 40px; */
  }
}

@media only screen and (min-width: 1240px) {
  .profile {
    align-items: flex-start;
/*     gap: 37px; */
    position: relative;
  }
}
