.light,
.dark {
  padding: 31px 24px 79px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.light {
  background: #f2f2f2;
}

.dark {
  background: #141d2f;
}

@media only screen and (min-width: 768px) {
  .light,
  .dark {
    padding: 31px 98px 79px 97px;
  }
}
